@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.navbar-color{
    background-color: #17223A;
}

a{
    font-family: 'Roboto', sans-serif;
}
.myborder{
    border-radius:25px;
    border: 2px solid white;
}